# Backend API URL - Configure this with your actual backend URL
# For local development
NEXT_PUBLIC_API_URL=http://localhost:3000/v1

# For production (uncomment and adjust as needed)
# NEXT_PUBLIC_API_URL=https://your-api-domain.com/v1

# Dailymotion Configuration
NEXT_PUBLIC_DAILYMOTION_PLAYLIST=x8gk3y


NEXT_PUBLIC_METRICOOL=HCNLXDLUJVTJZFGGRHYPLKAQLSQEOFDTLXYNWFOHRZPABNBNQGMOMZZWVMSCDUFU
METRICOOL_USER_ID=4745097
METRICOOL_BLOG_ID=3700055
